
#custom-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100000;
  width:100%;
  background-color: #B4C7E8;
}

.flb {
  background-color: #B4C7E8;
  height:100%;
  width:100%;
  animation: pulse 1s linear forwards;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Aligner-item {
  max-width: 50%;
}
.Aligner-item--top {
  align-self: flex-start;
}
.Aligner-item--bottom {
  align-self: flex-end;
}
#custom-overlay img {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: auto;
  animation:fade-in;
  //animation: animation 3100ms linear infinite both;
  animation-delay: 1s;
}

@keyframes pulse {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}



page-login {
.background {
    //background-image: url('../assets/icon/Untitled.png');
    background-color: #B1CCFB;
}
.scroll-content {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
ion-card.card {
    box-shadow: none;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-color: #B1CCFB;

}

ion-header.title-image {
    margin-top: 8px;
    height: 27px;
}

a, p,
ion-card-header.card-header {
    color: #fff!important;


}

.list > .item-block:first-child {
    border: medium none;
}

.item {
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.5);
    border: medium none;
    background-color: #B1CCFB;
    //background : transparent;


    .text-input, {
        color: #fff;

    }

    
    input::-moz-placeholder{
        color: #fff!important;
    }
    input:-moz-placeholder {
        color: #fff!important;
    }
    *:-moz-placeholder{
        color: #fff!important;
    }
    *:-ms-input-placeholder{
        color: #fff!important;
    }
    *::-webkit-input-placeholder{
        color: #fff!important;
    }

}

.icon {
    padding-right: 10px;
}

.bottom {
    bottom: 0;
}

.input-cover {
position: static;
}

}

