page-passwordreset {

.submitted
{
    border:1px solid #f00;
}

.background {
    background-image: url('<yoururlhere>');
    background-color: #B4C7E8;
}
.scroll-content {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
ion-card.card {
    box-shadow: none;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-color: #B4C7E8;
}
a, p,
ion-card-header.card-header {
    color: #488aff!important;
}
 
.list > .item-block:first-child {
    border: medium none;
}
 
.item {
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.5);
    border: medium none;
    //background-color: #2B3D53;
 
    .text-input, {
        color: #000000;
    }
 
    
    input::-moz-placeholder{
        color: #488aff!important;
    }
    input:-moz-placeholder {
        color: #488aff!important;
    }
    *:-moz-placeholder{
        color: #488aff!important;
    }
    *:-ms-input-placeholder{
        color: #488aff!important;
    }
    *::-webkit-input-placeholder{
        color: #488aff!important;
    }
 
}
 
.icon {
    padding-right: 10px;
}
 
.bottom {
    bottom: 0;
}
 
.input-cover {
position: static;
}
 


}
