<ion-header>

  <ion-navbar color="titleColor">
    <ion-title>Chats</ion-title>
<!--     <ion-buttons end>
      <button ion-button icon-only (click)="presentConfirm()">
        <ion-icon name="call"></ion-icon>
      </button>
    </ion-buttons>  -->
  </ion-navbar>

</ion-header>


<ion-content>
	<div class="profile-image" (click)="editimage()">
  <img src="{{avatar}}">
</div>
<div>
  <h2 (click)="editname()">{{displayName}}</h2>
</div>
<div>
  Tap on your pic or nick name to change it.
</div>
<div class="spacer" style="height: 10px;"></div>
<div>
  <button ion-button round outline color="danger" (click)="logout()">Logout</button>
<!--     <button ion-button round outline color="danger" (click)="number()">Logout</button>
    {{randomnumber}} -->
</div>

</ion-content>

<ion-footer ion-fixed>    
  <ion-toolbar class="no-border" color="white">    
  <div style="text-align: center;">    
      <button ion-button round (click)="openCalendar()">
        <ion-icon name="calendar"></ion-icon>
      </button>
      <button ion-button round (click)="presentConfirm()">
        <ion-icon name="call"></ion-icon>
      </button>
      <!-- <div *ngIf="hideAnalysis"> -->
      <button ion-button round (click)="openChart()" *ngIf="hideAnalysis">
        <ion-icon name="contact"></ion-icon>
      </button>
      <!-- </div> -->
  </div>
  </ion-toolbar>    
</ion-footer>