<!--
  Generated template for the BuddychatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="titleColor">
    <ion-title>ChatBot</ion-title>
    <ion-buttons end>
      <button ion-button (click)="sendPicMsg()">
      <ion-icon name="camera"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content #content>
<div class = "chatwindow">
  <ion-list no-lines>
    <ion-item *ngFor = "let item of allmessages; let i = index" text-wrap>
      <ion-avatar item-left *ngIf="item.sentby === 'bot'">
        <img src="">
      </ion-avatar>
      <div class="bubble me" *ngIf="item.sentby === 'bot'">
        <h3 *ngIf="!imgornot[i]">{{item.message}}</h3>
        <img src="{{item.message}}" *ngIf="imgornot[i]">
      </div>
      <ion-avatar item-right *ngIf="item.sentby != 'bot'">
        <img src="{{photoURL}}">
      </ion-avatar>
      <div class="bubble you" *ngIf="item.sentby != 'bot'">
        <h3 *ngIf="!imgornot[i]">{{item.message}}</h3>
        <img src="{{item.message}}" *ngIf="imgornot[i]">
      </div>
    </ion-item>
  </ion-list>
</div>

<ion-footer ion-fixed>    
  <ion-toolbar class="no-border" color="white">    
  <div style="text-align: center;">    
      <button ion-button round (click)="start(newmessage)">
        <ion-icon name="mic"></ion-icon>
      </button>
      <!-- <ion-input type="text" placeholder="newmessage" [(ngModel)]="newmessage"></ion-input> -->
    </div>
  </ion-toolbar>    
</ion-footer>
